<!--
    author: Santiago Fonseca
    last date of creation: 16/08/2023 10 pm
    last modification: 16/08/2023 11:54 pm
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <link rel="shortcut icon" href="/src/recursos-imagen/3941113.png" type="image/png">
        <title>Load - 3D Models</title>
        <!--Styles boostrap-->
        <link rel="stylesheet" href="/src/css/bootstrap.min.css">
        <script src="/src/libs/three.js-master/build/three.min.js"></script>
        <script src="/src/libs/controls/OrbitControls.js"></script>

        <!--OBJ y MTL-->
        <script src="/src/libs/load/OBJLoader.js"></script>
        <script src="/src/libs/load/MTLLoader.js"></script>

        <!--GLTF-->
        <script src="/src/libs/load/DRACOLoader.js"></script>
        <script src="/src/libs/load/GLTFLoader.js"></script>

        <script src="/src/JsCompu/mainObjexts.js"></script>
    </head>
<body onload="startScene()">
    <nav class="navbar border-bottom border-body" id="navba" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img class="logo" src="/src/recursos-imagen/rubik_318-407097.png" alt="bootstrap">
            </a>
            <h1>Points: 0</h1>
        </div>
    </nav>

    <div id="winpage"> </div>

    <div id="lostpage"></div>

    <!--load audio-->
    <audio controls autoplay loop>
        <source src="../src/sounds/soundambient2.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>

    <canvas style="position: fixed;" id="Models3d">

    </canvas>
    <!--footer-->
    <div class="container">
        <footer class="navbar fixed-bottom text-center text-lg-start" style="background-color: #c5c5c5;">
            <p class="text-center text-muted">®company 2023, Santiago Fonseca Galvis</p>
            <p>By Joker</p>
        </footer>
    </div>
</body>
</html>